/* Footer top */
.container > footer{
    width: 100%;
    height: 50vh;
    background-color: darkgrey;
}
.container > footer > .row-card{
    display: flex;
}
.container > footer > .row-card > .card{
    width: 25%;
    background-color: grey;
    border-right: 1px solid #555;
    text-align: center;
    padding: 25px;
}
.container > footer > .row-card > .card > img{
    width: 200px;
    margin-bottom: 20px;
}
.container > footer > .row-card > .card >p,
.container > footer > .row-card > .card > p >a{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15.2px;
    color: white;
    text-align: start;
    line-height: 24px;
}
.container > footer > .row-card > .card >p >a{
    font-weight:500;
}
.container > footer > .row-card > .card >p > a:hover,
.container > footer > .about-ac > .detail > ul > li a:hover{
    text-decoration: underline;
}


/* Footer menu */
.container > footer > .about-ac {
    width: 100%;
    background-color: var(--menu-color);
}
.container > footer > .about-ac > .detail{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
}
.container > footer > .about-ac > .detail > ul{
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 10px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
}
.container > footer > .about-ac > .detail > ul:nth-child(2){
    color: white;
    margin: 23px 0;
    font-size: 12px;
}
.container > footer > .about-ac > .detail > ul > li{
    padding: 0 15px;
}
.container > footer > .about-ac > .detail > .achievment {
    text-align: center;
    margin-top: 40px;
    font-size: 12px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    color: white;
}
.container > footer > .about-ac > .detail > .achievment > img{
    width: 170px;
    margin: 18px 9px;
    border-radius: 7px;
}


/* Footer Bottom */
.container > footer > .about-ac > .detail > .socail{
    text-align: center;
    font-size: 12px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    color: white;
    margin-top: 40px;
}
.container > footer > .about-ac > .detail > .socail > ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 30px;
}
.container > footer > .about-ac > .detail > .socail > ul > li >img{
    width: 37px;
    border-radius: 50%;
    padding: 1px;
    border: 1px solid rgb(55, 55, 130);
    margin: 0 4px;
    cursor: pointer;
}
.container > footer > .about-ac > .detail > .socail > ul > li >img:hover{
    border: 1px solid white;
}